
@import 'vars';
@import 'header';
@import 'top';
@import 'top-header';
@import 'footer';
@import 'product';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  font-family: "Lato", sans-serif;
}

button:hover {
  cursor: pointer;
}

input {
  font-family: "Lato", sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 575px);
  padding-right: calc(50% - 575px);
}

.box-content {
  overflow: hidden;
}

@media (max-width: 1024px) {

  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }

  // Index pad size
  .header {
    padding-left: 32px;
    padding-right: 36px;
  }

  .top {
    gap: 39px;

    .main__picture {
      width: 386px;
      height: 368px;
      margin-left: -112px;
      margin-top: 15px;
    }

    .custom__header {
      margin-top: 138px;
      margin-bottom: 151px;

      .top__content {
        .top__title {
          font-size: 44px;
        }

        .top__subtitle {
          font-size: 24px;

          .highlighting {
            font-size: 24px;
          }
        }
      }
    }
  }

  .categories {
    grid-template-columns: repeat(3, 232px);
    gap: 19.9px;
    padding-top: 65px;
    padding-bottom: 109px;

    .category__card {
      .card__content {
        padding-top: 59px;
        padding-bottom: 59px;
      }

      .card__content__long_card {
        padding-top: 33px;
        padding-bottom: 33px;
      }

      .category__subtitle {
        font-size: 16px;
        font-weight: 400;
      }

      .category__title {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .women_category {
      width: 232px;
      height: 168px;
    }

    .men_category {
      width: 232px;
      height: 168px;
    }

    .kids_category {
      width: 232px;
      height: 168px;
    }

    .accesories_category {
      width: 734.6px;
      height: 116px;
    }
  }

  .items {
    padding-bottom: 70.5px;
    &__title {
      margin-bottom: 3.3px;
    }

    &__text {
      margin-bottom: 73px;
    }

    &__content {
      grid-template-columns: repeat(2, 360px);
      gap: 16px;
      margin-bottom: 32.5px;

      .item__description {
        .item__title {
          font-size: 13px;
          padding-top: 25px;
          padding-bottom: 13px;
        }

        .item__text {
          font-size: 14px;
          padding-bottom: 18px;
        }

        .price {
          font-size: 16px;
          padding-bottom: 20px;
        }
      }
    }
  }

  .footer {
    .advantages {
      padding-top: 48px;
      padding-bottom: 64px;
      display: grid;
      gap: 48px;
      justify-content: center;
      grid-template-columns: repeat(1, 360px);
      .advantages__text {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    .subscription__wrap {
      .subscription {
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
        grid-template-columns: repeat(1, 360px);
        justify-content: center;
      }
    }

    .contacts {
      padding-top: 24px;
      padding-bottom: 23px;
      padding-left: 32px;
      padding-right: 23px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $colorBackgroundFirst;
    }
  }

  // Product pad size

  .top-head {
    background-color: #f8f3f4;
    padding-top: 59px;
    padding-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product__slider {
    &__description {
      display: block;
      &__wrapper {
        margin-top: -4px;
      }
    }
  }

  .product__items {
    padding-bottom: 128px;
    padding-top: 128px;
    background: $colorBackgroundSecond;
    margin-left: 16px;
    margin-right: 16px;
  
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 360px);
      gap: 16px;
      .content_item_2 {
        order: -1;
      }
      .content_item_3 {
        order: -1;
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }

  // Index phone size
  .header {
    &__left {
      margin-left: 16px;
    }
    &__rigth {
      margin-right: 16px;
      .burger_menu {
        #burger {
          &:not(:checked) ~ .nav {
            left: -100%;
          }
        }
        .nav {
          width: 100%;
        }
      }

      .user {
        display: none;
      }

      .basket {
        display: none;
      }
    }
  }

  .top {
    .main__picture {
      display: none;
    }

    .custom__header {
      margin-top: 148px;
      margin-bottom: 149px;
      gap: 15px;
      align-items: center;
      margin-left: 56px;

      .top__image {
        width: 12px;
        height: 61px;
      }

      .top__content {
        .top__title {
          font-size: 38px;
        }

        .top__subtitle {
          font-size: 20px;

          .highlighting {
            font-size: 20px;
          }
        }
      }
    }
  }

  .categories {
    grid-template-columns: repeat(1, 343px);
    gap: 20px;
    padding-top: 65px;
    padding-bottom: 109px;
    margin-left: 16px;
    margin-right: 16px;

    .category__card {
      .card__content {
        padding-top: 98px;
        padding-bottom: 99px;
      }

      .card__content__long_card {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .category__subtitle {
        font-size: 16px;
        font-weight: 400;
      }

      .category__title {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .women_category {
      width: 343px;
      height: 247px;
    }

    .men_category {
      width: 343px;
      height: 247px;
    }

    .kids_category {
      width: 343px;
      height: 247px;
    }

    .accesories_category {
      width: 343px;
      height: 111px;
      background-size: 735px 116px;
      background-position: center;
    }
  }

  .items {
    padding-bottom: 85px;
    margin-left: 16px;
    margin-right: 16px;

    &__title {
      margin-bottom: 3px;
    }

    &__text {
      margin-bottom: 65px;
    }

    &__content {
      grid-template-columns: repeat(1, 360px);
      margin-bottom: 41px;

      .item {
        &__description {
          &__title {
            font-size: 13px;
            padding-top: 25px;
            padding-bottom: 13px;
          }

          &__text {
            font-size: 14px;
            padding-bottom: 18px;
          }

          .price {
            font-size: 16px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }

  .footer {
    .advantages {
      padding-top: 48px;
      padding-bottom: 81px;
      gap: 47px;
      grid-template-columns: repeat(1, 347.8px);
    }

    .subscription__wrap {
      .subscription {
        padding-top: 64px;
        padding-bottom: 110px;
        gap: 59px;
        grid-template-columns: repeat(1, 343px);
  
        &__quote {
          .subscription__text {
            font-size: 18px;
          }
  
          .subscription__text__italic {
            font-size: 18px;
          }
        }
  
        &__content {
          .subscription__title {
            font-size: 24px;
          }
  
          .subscription__subtitle {
            font-size: 14px;
          }
  
          .subscription__form {
            .subscription__email {
              width: 243px;
              height: 47px;
            }
  
            .subscription__button {
              width: 96px;
              height: 47px;
            }
          }
        }
      }
    }

  .contacts {
    padding-top: 51px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: $colorBackgroundFirst;
  }
  }

  // Product phone size
  .top-head {
    background-color: #f8f3f4;
    padding-top: 24px;
    padding-bottom: 46px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product {
    &__slider { 
      &__description {
        padding: 0;
        &__wrapper {
          padding-left: 24px;
          padding-right: 24px;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-sizing: border-box;
        }
      } 
    &__subtitle {
      margin-bottom: 32px;
    }
  
    &__text {
      margin-bottom: 32px;
    }
    &__price {
      margin-bottom: 32px;
    }
    &__secondline {
      width: 175px;
      margin-bottom: 49px;
    }
  }

  .selection-params {
    margin-bottom: 64px;
    &__details {
      &__summary {
        font-size: 10px;         
      }
      &__wrapper {
        font-size: 10px;  
      }
    }
  }  
  }

  .product__items {
    padding-bottom: 64px;
    padding-top: 65px;
    margin-left: 8px;
    margin-right: 8px;

    &__content {
      display: grid;
      gap: 0px;
      grid-template-columns: repeat(2, 360px);
      overflow: hidden;
      .content_item_2 {
        order: 0;
      }
      
      .content_item_3 {
        order: 1;
        display: block;
      }
    }
  }
}
